      <div class="cadreNoir">
        <table class="sousTitre">
          <tr>
            <td><img class="micro" src="{{img_path}}{{image}}"></td>
            <td><h2>{{titre}}</h2></td>
          </tr>
        </table>
        <br>
        {% for score in lignes %}
          <h3>Niveau {{score.niveau}} : {{score.score}}/5</h3>
        {% else %}<h3>Tu n'as pas encore joué dans ce niveau.</h3>
        {% endfor %}
      </div>