{% if echelle is not defined %}
{% set echelle = 1 %}
{% endif %}
{% if indice is not defined %}
{% set indice = 'A' %}
{% endif %}
  <img class="positionAbsolue imgEchelle{{ indice }}" src="{{img_path}}portee/portee.gif" style="top:0px;">
  <div class="positionAbsolue">
  {% for figure in figures %}
    {% set y = figure.niveau * 12.4 * echelle %}
    {% set inverse = '' %}
    {% if figure.niveau < -2 %}
      {% if figure.image in ["croche", "noire","blanche"] %}
        {% set inverse = '_inversee' %}
      {% endif %}
    {% endif %}
    <img class="positionAbsolue imgEchelle{{ indice }}" src="{{img_path}}portee/{{figure.image}}{{inverse}}.gif" style="top : {{y|round(0,'floor')}}px;">
  {% endfor %}
  </div>
  <img src="{{img_path}}portee/vide.gif">
