{% extends "apprendre.html.twig" %}

{% block entete %}
  {{ parent() }}
  <link rel="stylesheet" href="{{css_path}}apprendre.css">
{% endblock %}


{% block titre %}Les tonalités{% endblock %}

{% block corps %}
  {{ parent() }}

<div class="container">
  <div class="row">
    <div class="col-12">
    <div class="listeDeroulante">
      <div class="cadreNoir">
        <h2 class="souligne">Les bases</h2>
          Pour comprendre les tonalités, il faut avoir en tête un clavier de piano, qui représente bien <b>l'échelle diatonique</b> (échelle musicale de 7 degrés, composée de 5 tons et 2 demi tons). Voici une <b>octave</b> (de do à do, ça fait 8 notes) :<br>
          {% include "_clavierPiano.html.twig" with {"nbTouches":7,"avecTon":false} only %}
          Entre 2 touches blanches, il y a :
          <li><b>un ton</b> s'il y a une noire entre elles</li>
          <li><b>un demi ton</b> sinon</li>
          Et voici ce que ça donne :<br>
          {% include "_clavierPiano.html.twig" with {"nbTouches":12,"avecTon":true} only %}
          <table>
            <tr>
              <td>
                <li>de do à ré : 1 ton</li>
                <li>de ré à mi : 1 ton</li>
                <li>de mi à fa : ½ ton</li>
                <li>de fa à sol : 1 ton</li>
                <li>de sol à la : 1 ton</li>
                <li>de la à si : 1 ton</li>
                <li>de si à do : ½ ton</li>
                <li>...et ainsi de suite.</li>
              </td>
              <td>
              {% include "_cadreConseil.html.twig" with {"y":-8,"texte":"En examen écrit, commence par dessiner ce clavier sur un papier de brouillon. Tu peux être sûr que tu vas en avoir besoin !"} %}
              </td>
            </tr>
          </table>
          Dans la suite, je te parlerai de la "méthode du clavier". Cette méthode consiste à compter les demi tons en comptant dans l'ordre (de gauche à droite) les touches de ce clavier (les blanches comme les noires). C'est une méthode <b>infaillible</b> pour compter les demi tons (chaque changement de touche ajoute un demi ton).<br>
          <u><b>Important:</b></u><br>
          Toutes les notes que je vais écrire sur cette page seront en <b>clé de sol</b> (mais je ne la dessinerai pas, ça prend trop de place).
          <br>
      </div>
      <div class="cadreNoir">
        <h2 class="souligne" id="intervalles">Les intervalles</h2>
          Un intervalle décrit <b>la distance</b> entre deux notes.<br>
          Il est composé de deux mots:
          <li>Le premier (le <b>nom</b>) indique la distance dessinée sur la portée.</li>
          <div class="indentation">
            Exemple : do-ré est une seconde (do=1, ré=2) mais mi-sol est une tierce (mi=1, fa=2, sol=3).<br>
            Donc, on compte en récitant la gamme, et le dernier chiffre donne le nom de l'intervalle.<br>
            Les mots à retenir sont:<br>
            <b>- prime</b> : les deux notes sont <b>les mêmes</b><br>
            <b>- seconde</b> : le dernier chiffre est <b>2</b><br>
            <b>- tierce</b> : le dernier chiffre est <b>3</b><br>
            <b>- quarte</b> : le dernier chiffre est <b>4</b><br>
            <b>- quinte</b> : le dernier chiffre est <b>5</b><br>
            <b>- sixte</b> : le dernier chiffre est <b>6</b><br>
            <b>- septième</b> : le dernier chiffre est <b>7</b><br>
            <b>- octave</b> : le dernier chiffre est <b>8</b><br>
            <b>- neuvième</b> : le dernier chiffre est <b>9</b><br>
            <b>- dixième</b> : le dernier chiffre est <b>10</b><br>
            <b>- ...</b><br>
          </div>
          <li id="qualificatif">Le deuxième (le <b>qualificatif</b>) dépend du nombre de tons entre les notes.</li>
          <div class="indentation">
            Les cinq principaux sont :<br><b>
            - majeur<br>
            - mineur<br>
            - juste<br>
            - augmenté<br>
            - diminué<br></b>
            La mauvaise nouvelle, c'est que le qualificatif dépend du nom.<br>
            Les qualificatifs "majeur" et "mineur" ne s'appliquent qu'à :<br>
            - la seconde<br>
            - la tierce<br>
            - la sixte<br>
            - la septième<br>
            Les qualificatifs "augmenté" et "diminué" s'appliquent donc au reste, et c'est <a class="enGras" href="#augmente">ICI</a> que tu auras plus re renseignements sur eux.
            <b>
            <table class="tableau">
              <tr>
                <td></td>
                <td class="tableau">majeure</td>
                <td class="tableau">mineure</td>
              </tr>
              <tr>
                <td class="tableau">seconde</td>
                <td class="tableau">un ton</td>
                <td class="tableau">un demi ton</td>
              </tr>
              <tr>
                <td class="tableau">tierce</td>
                <td class="tableau">2 tons</td>
                <td class="tableau">un ton et un demi ton</td>
              </tr>
              <tr>
                <td class="tableau">sixte</td>
                <td class="tableau">4 tons et un demi ton</td>
                <td class="tableau">4 tons</td>
              </tr>
              <tr>
                <td class="tableau">septième</td>
                <td class="tableau">5 tons et un demi ton</td>
                <td class="tableau">5 tons</td>
              </tr>
            </table>
            </b>
            Comment retenir ça ? La réponse va te plaire : tu n'as pas besoin de le retenir !<br>
            Tu vas utiliser le clavier que tu as dessiné et partir du do (la note la plus à gauche). Et rien qu'avec ça, tu peux retrouver tout ce qu'il y a dans ce tableau. Voici comment :<br>
            <table>
              <tr>
               <td>
                 {% include "_clavierPiano.html.twig" with {"nbTouches":1,"avecTon":false,"lesFleches":[0]} only %}
               </td>
               <td>
                 <table>
                   <tr>
                     <td colspan=2>
                       <b>La seconde majeure</b><br>qui est ici do-ré
                     </td>
                   </tr>
                   <tr>
                     <td class="positionRelative">
                         {% set listeNotesDo =
                                [
                                  {
                                    image: 'noire',
                                    'niveau' : 3
                                  },
                                  {
                                    image: 'barre',
                                    'niveau' : 3
                                  }
                                ]
                          %}
                         {% set listeNotesRe =
                                [
                                  {
                                    image: 'noire',
                                    'niveau' : 2
                                  }
                                ]
                          %}
                         {% set portee = [listeNotesDo,listeNotesRe]
                          %}
                         {% include "_portee.html.twig" with {"elements":portee} only %}
                     </td>
                     <td>
                       En partant du do, à gauche du clavier, il faut compter un demi ton de plus pour chaque touche rencontrée. Regarde ce bout de clavier. Il part du do. Puis on a une touche noire (appelée do dièse, ou ré bémol), ça nous fait un demi ton. Puis on a une autre touche (blanche, mais peu importe), ce qui nous fait un demi ton de plus. On est arrivé sur le ré en comptant deux demi tons.<br>
                       Donc, do-ré = 1 ton. Ce do-ré "normal" est une seconde majeure.<br>
                       Partir du do te donnera tous les intervalles "normaux" (donc majeurs). On vient de retrouver l'intervalle de la seconde, mais tu peux retrouver la tierce (2 tons) et tous les autres avec la même méthode.<br>
                     </td>
                   </tr>
                 </table>
               </td>
              </tr>
            </table>

            Un intervalle mineur est <u>toujours</u> plus petit d'un demi ton que le même intervalle majeur. On va en voir un exemple tout de suite.

            <table>
              <tr>
               <td>
                 {% include "_clavierPiano.html.twig" with {"nbTouches":3,"avecTon":false,"lesFleches":[2]} only %}
               </td>
               <td>
                 <table>
                   <tr>
                     <td colspan=2>
                       <b>La seconde mineure</b><br>exemple avec mi-fa
                     </td>
                   </tr>
                   <tr>
                     <td class="positionRelative">
                         {% set listeNotesMi =
                                [
                                  {
                                    image: 'noire',
                                    'niveau' : 1
                                  }
                                ]
                          %}
                         {% set listeNotesFa =
                                [
                                  {
                                    image: 'noire',
                                    'niveau' : 0
                                  }
                                ]
                          %}
                         {% set portee = [listeNotesMi,listeNotesFa] %}
                         {% include "_portee.html.twig" with {"elements":portee} only %}
                     </td>
                     <td>
                       Cette fois, on part du mi. La touche suivante est déjà le fa. On n'a donc compté qu'un demi ton.<br>
                       Donc, mi-fa = ½ ton.<br>
                       C'est une seconde mineure, puisqu'elle fait un demi ton de moins qu'une seconde majeure. Et une seconde majeure fait un ton. Et ça, tu le sais, parce que tu sais utiliser la méthode du clavier.<br>
                     </td>
                   </tr>
                 </table>
               </td>
              </tr>
            </table>
            <table>
              <tr>
               <td>
                 {% include "_clavierPiano.html.twig" with {"nbTouches":7,"avecTon":false,"lesFleches":[4,5]} only %}
               </td>
               <td>
                 <table>
                   <tr>
                     <td colspan=2>
                       <b>La tierce majeure</b><br>exemple avec sol-si
                     </td>
                   </tr>
                   <tr>
                     <td class="positionRelative">
                         {% set listeNotesSol =
                                [
                                  {
                                    image: 'noire',
                                    'niveau' : -1
                                  }
                                ]
                          %}
                         {% set listeNotesSi =
                                [
                                  {
                                    image: 'noire',
                                    'niveau' : -3
                                  }
                                ]
                          %}
                         {% set portee = [listeNotesSol,listeNotesSi] %}
                         {% include "_portee.html.twig" with {"elements":portee} only %}
                     </td>
                     <td>
                       +½ par touche:
                       <li>sol : 0</li>
                       <li>sol dièse : ½</li>
                       <li>la : 1</li>
                       <li>la dièse : 1 ½</li>
                       <li>si : 2</li>
                       sol-si = 2 tons.
                     </td>
                   </tr>
                   <tr>
                     <td colspan=2>
                       Si on part du do, on a forcément du majeur. C'est comme ça que tu peux retrouver (<u>avec le clavier que tu as dessiné</u>) qu'une tierce majeure fait 2 tons.<br>
                       Et on en déduit que sol-si est majeur aussi (comme do-mi).
                     </td>
                   </tr>
                 </table>
               </td>
              </tr>
            </table>
          
            Tu veux un autre exemple ? Je le savais !<br>
            Une tierce majeure fait 2 tons. Combien fait une tierce mineure ?<br>
            Rappel : mineur = un demi ton de moins que majeur<br>
            Oui ! Une tierce mineure fait un ton et demi. En voici une :<br>
          
            <table>
              <tr>
               <td>
                 {% include "_clavierPiano.html.twig" with {"nbTouches":3,"avecTon":false,"lesFleches":[1,2]} only %}
               </td>
               <td>
                 <table>
                   <tr>
                     <td colspan=2>
                       <b>La tierce mineure</b><br>exemple avec ré-fa
                     </td>
                   </tr>
                   <tr>
                     <td class="positionRelative">
                         {% set portee = [listeNotesRe,listeNotesFa] %}
                         {% include "_portee.html.twig" with {"elements":portee} only %}
                     </td>
                     <td>
                       Toujours la même méthode : en suivant le clavier.<br>
                       On ajoute un <u>demi ton</u> par touche:
                       <li>ré : 0</li>
                       <li>ré dièse : 0 + <u>½</u> = ½</li>
                       <li>mi : ½ + <u>½</u> = 1</li>
                       <li>fa : 1 + <u>½</u> = 1 ½</li>
                       Et donc ré-fa = 1 ton et demi.
                     </td>
                   </tr>
                   <tr>
                     <td colspan=2>
                     </td>
                   </tr>
                 </table>
               </td>
              </tr>
            </table>

            Allez, maintenant que tu as bien compris, on corse un peu tout ça.<br>
            Va savoir pourquoi, la quarte, la quinte et l'octave, quand ils sont "normaux", s'appellent "juste" plutôt que "majeur". Oui, c'est absurde. Mais c'est comme ça.<br>
            La bonne nouvelle, c'est qu'on les retrouve elles aussi grâce à notre petit clavier, en partant du do.<br>

            <table>
              <tr>
               <td>
                 {% include "_clavierPiano.html.twig" with {"nbTouches":3,"avecTon":false,"lesFleches":[0,1,2]} only %}
               </td>
               <td>
                 <table>
                   <tr>
                     <td colspan=2>
                       <b>La quarte juste</b><br><br>
                     </td>
                   </tr>
                   <tr>
                     <td class="positionRelative">
                         {% set portee = [listeNotesDo,listeNotesFa] %}
                         {% include "_portee.html.twig" with {"elements":portee} only %}
                     </td>
                     <td>
                       <table>
                         <tr>
                           <td class="tableau">do</td>
                           <td class="tableau">ré</td>
                           <td class="tableau">mi</td>
                           <td class="tableau">fa</td>
                           <td>4 notes,</td>
                         </tr>
                         <tr>
                           <td class="tableau">1</td>
                           <td class="tableau">2</td>
                           <td class="tableau">3</td>
                           <td class="tableau">4</td>
                           <td>donc le nom est quarte.</td>
                         </tr>
                       </table>
                       <br>do-fa = 1 + 1 + ½ = 2 tons et demi.
                       <br>Donc quarte juste = 2 tons ½.
                     </td>
                   </tr>
                 </table>
               </td>
              </tr>
            </table>

            <table>
              <tr>
               <td>
                 {% include "_clavierPiano.html.twig" with {"nbTouches":4,"avecTon":false,"lesFleches":[0,1,2,3]} only %}
               </td>
               <td>
                 <table>
                   <tr>
                     <td colspan=2>
                       <b>La quinte juste</b><br><br>
                     </td>
                   </tr>
                   <tr>
                     <td class="positionRelative">
                         {% set portee = [listeNotesDo,listeNotesSol] %}
                         {% include "_portee.html.twig" with {"elements":portee} only %}
                     </td>
                     <td>
                       <table>
                         <tr>
                           <td class="tableau">do</td>
                           <td class="tableau">ré</td>
                           <td class="tableau">mi</td>
                           <td class="tableau">fa</td>
                           <td class="tableau">sol</td>
                           <td>5 notes,</td>
                         </tr>
                         <tr>
                           <td class="tableau">1</td>
                           <td class="tableau">2</td>
                           <td class="tableau">3</td>
                           <td class="tableau">4</td>
                           <td class="tableau">5</td>
                           <td>donc le nom est quinte.</td>
                         </tr>
                       </table>
                       <br>do-sol = 1 + 1 + ½ + 1 = 3 tons et demi.
                       <br>Donc quinte juste = 3 tons ½.
                     </td>
                   </tr>
                 </table>
               </td>
              </tr>
            </table>

            <table>
              <tr>
               <td>
                 {% include "_clavierPiano.html.twig" with {"nbTouches":7,"avecTon":false,"lesFleches":[0,1,2,3,4,5,6]} only %}
               </td>
               <td>
                 <table>
                   <tr>
                     <td colspan=2>
                       <b>L'octave juste</b><br><br>
                     </td>
                   </tr>
                   <tr>
                     <td class="positionRelative">
                         {% set listeNotesDoDuHaut =
                                [
                                  {
                                    image: 'noire',
                                    'niveau' : -4
                                  }
                                ]
                          %}
                         {% set portee = [listeNotesDo,listeNotesDoDuHaut] %}
                         {% include "_portee.html.twig" with {"elements":portee} only %}
                     </td>
                     <td>
                       <table>
                         <tr>
                           <td class="tableau">do</td>
                           <td class="tableau">ré</td>
                           <td class="tableau">mi</td>
                           <td class="tableau">fa</td>
                           <td class="tableau">sol</td>
                           <td class="tableau">la</td>
                           <td class="tableau">si</td>
                           <td class="tableau">do</td>
                         </tr>
                         <tr>
                           <td class="tableau">1</td>
                           <td class="tableau">2</td>
                           <td class="tableau">3</td>
                           <td class="tableau">4</td>
                           <td class="tableau">5</td>
                           <td class="tableau">6</td>
                           <td class="tableau">7</td>
                           <td class="tableau">8</td>
                         </tr>
                       </table>
                       <br>8 notes, donc le nom est octave.
                       <br>do-do = 6 tons.
                       <br>octave juste = 6 tons.
                     </td>
                   </tr>
                 </table>
               </td>
              </tr>
            </table>

            Voilà voilà voilà.<br id="augmente">
            C'est le bon moment pour faire une pause, parce que, non, on n'a pas fini.<br>
            Ce qui suit n'est peut-être pas au programme de cette année. Viens le relire quand on t'aura parlé, au cours de solfège, des termes "augmenté" et "diminué". Si ça ne te dit rien, passe directement à l'encadré suivant en cliquant <a class="enGras" href="#alterations">ICI</a>.<br><br>
            Ces deux mots ("augmenté" et "diminué") sont des <a class="enGras" href="#qualificatif">qualificatifs</a> pour des intervalles qui contiennent une <a class="enGras" href="#alterations">altération</a>, plus particulièrement un dièse ou un bémol.<br>
            
            <table>
              <tr>
                <td colspan=2>
                  Le dièse augmente le ton de la note d'un demi ton.<br><br>
                </td>
                <td class="fonteInvisible">blabla</td>
                <td colspan=2>
                  Le bémol diminue le ton de la note d'un demi ton.<br><br>
                </td>
              </tr>
              <tr>
                <td>
            {% set listeNotesDoDiese =
                   [
                     {
                       image: 'noire',
                       'niveau' : -4
                     },
                     {
                       image: 'diese',
                       'niveau' : -4
                     }
                   ]
             %}
            {% set portee = [listeNotesDoDiese] %}
            {% include "_portee.html.twig" with {"elements":portee} only %}
                </td>
                <td>
                  Ceci est un do dièse.
                </td>
                <td></td>
                <td>
            {% set listeNotesReDuHautBemol =
                   [
                     {
                       image: 'noire',
                       'niveau' : -5
                     },
                     {
                       image: 'bemol',
                       'niveau' : -5
                     }
                   ]
             %}
            {% set portee = [listeNotesReDuHautBemol] %}
            {% include "_portee.html.twig" with {"elements":portee} only %}
                </td>
                <td>
                  Ceci est un ré bémol.
                </td>
              </tr>
            </table>
            <br><br><br>
            Remarque : si tu jettes un oeil sur le clavier, tu verras que ces deux notes correspondent à la même touche noire.<br>
            Quand on utilise un dièse ou un bémol, le nom de l'intervalle ne change pas (car les notes dessinées sur la portée sont les mêmes), mais le qualificatif change, puisque le nombre de tons entre les deux notes change.<br>
            Voici quelques exemples :<br><br>

            <table>

              <tr>
                <td>
                  <h3>Prime juste à l'unisson<br></h3>
                </td>
                <td class="fonteInvisible"><h3>bla</h3></td>
                <td>
                  <h3>Prime augmentée<br></h3>
                </td>
                <td class="fonteInvisible"><h3>bla</h3></td>
                <td>(aussi nommée : demi ton chromatique)</td>
              </tr>
              <tr>
                <td>
                  {% set portee = [listeNotesDoDuHaut,listeNotesDoDuHaut] %}
                  {% include "_portee.html.twig" with {"elements":portee} only %}
                </td>
                <td></td>
                <td>
                  {% set portee = [listeNotesDoDuHaut,listeNotesDoDiese] %}
                  {% include "_portee.html.twig" with {"elements":portee} only %}
                </td>
              </tr>
              <tr>
                <td>
                  <br><br><br>zéro ton d'écart<br><br><br><br>
                </td>
                <td></td>
                <td>
                  <br><br><br>un demi ton d'écart<br><br><br><br>
                </td>
              </tr>
              <tr>
                <td class="reduction">
                  <div class="positionAbsolue" style="top:-10em;left:-20em;">
                  {% include "_clavierPiano.html.twig" with {"nbTouches":7,"avecTon":false, "lesPastilles":[0]} only %}
                  </div>
                </td>
                <td></td>
                <td class="reduction">
                  <div class="positionAbsolue" style="top:-10em;left:-20em;">
                  {% include "_clavierPiano.html.twig" with {"nbTouches":7,"avecTon":false, "lesPastilles":[0,1]} only %}
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  <h3><br><br><br><br>Seconde mineure<br></h3>
                </td>
                <td></td>
                <td>
                  <h3><br><br><br><br>Seconde majeure<br></h3>
                </td>
                <td></td>
                <td>
                  <h3><br><br><br><br>Seconde augmentée<br></h3>
                </td>
              </tr>
              <tr>
                <td>
                  {% set listeNotesReBemol =
                         [
                           {
                             image: 'noire',
                             'niveau' : 2
                           },
                           {
                             image: 'bemol',
                             'niveau' : 2
                           }
                         ]
                   %}
                  {% set portee = [listeNotesDo,listeNotesReBemol] %}
                  {% include "_portee.html.twig" with {"elements":portee} only %}
                </td>
                <td></td>
                <td>
                  {% set portee = [listeNotesDo,listeNotesRe] %}
                  {% include "_portee.html.twig" with {"elements":portee} only %}
                </td>
                <td></td>
                <td>
                  {% set listeNotesReDiese =
                         [
                           {
                             image: 'noire',
                             'niveau' : 2
                           },
                           {
                             image: 'diese',
                             'niveau' : 2
                           }
                         ]
                   %}
                  {% set portee = [listeNotesDo,listeNotesReDiese] %}
                  {% include "_portee.html.twig" with {"elements":portee} only %}
                </td>
              </tr>
              <tr>
                <td>
                  <br><br><br><br>un demi ton d'écart<br><br><br>
                </td>
                <td></td>
                <td>
                  <br><br><br><br>un ton d'écart<br><br><br>
                </td>
                <td></td>
                <td>
                  <br><br><br><br>un ton et demi d'écart<br><br><br>
                </td>
              </tr>
              <tr>
                <td class="reduction">
                  <div class="positionAbsolue" style="top:-10em;left:-20em;">
                  {% include "_clavierPiano.html.twig" with {"nbTouches":7,"avecTon":false, "lesPastilles":[0,1]} only %}
                  </div>
                </td>
                <td></td>
                <td class="reduction">
                  <div class="positionAbsolue" style="top:-10em;left:-20em;">
                  {% include "_clavierPiano.html.twig" with {"nbTouches":7,"avecTon":false, "lesPastilles":[0,2]} only %}
                  </div>
                </td>
                <td class="fonteInvisible">blabla</td>
                <td class="reduction">
                  <div class="positionAbsolue" style="top:-10em;left:-20em;">
                  {% include "_clavierPiano.html.twig" with {"nbTouches":7,"avecTon":false, "lesPastilles":[0,3]} only %}
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  <br><br><br><br><h3>Tierce mineure<br></h3>
                </td>
                <td></td>
                <td>
                  <br><br><br><br><h3>Tierce majeure<br></h3>
                </td>
                <td></td>
                <td>
                  <br><br><br><br><h3>Tierce augmentée<br></h3>
                </td>
              </tr>
              <tr>
                <td>
                  {% set listeNotesMiBemol =
                         [
                           {
                             image: 'noire',
                             'niveau' : 1
                           },
                           {
                             image: 'bemol',
                             'niveau' : 1
                           }
                         ]
                   %}
                  {% set portee = [listeNotesDo,listeNotesMiBemol] %}
                  {% include "_portee.html.twig" with {"elements":portee} only %}
                </td>
                <td></td>
                <td>
                  {% set portee = [listeNotesDo,listeNotesMi] %}
                  {% include "_portee.html.twig" with {"elements":portee} only %}
                </td>
                <td></td>
                <td>
                  {% set listeNotesMiDiese =
                         [
                           {
                             image: 'noire',
                             'niveau' : 1
                           },
                           {
                             image: 'diese',
                             'niveau' : 1
                           }
                         ]
                   %}
                  {% set portee = [listeNotesDo,listeNotesMiDiese] %}
                  {% include "_portee.html.twig" with {"elements":portee} only %}
                </td>
              </tr>
              <tr>
                <td>
                  <br><br><br><br>un demi ton et demi d'écart<br><br><br>
                </td>
                <td></td>
                <td>
                  <br><br><br><br>deux tons d'écart<br><br><br>
                </td>
                <td></td>
                <td>
                  <br><br><br><br>deux tons et demi d'écart<br><br><br>
                </td>
              </tr>
              <tr>
                <td class="reduction">
                  <div class="positionAbsolue" style="top:-10em;left:-20em;">
                  {% include "_clavierPiano.html.twig" with {"nbTouches":7,"avecTon":false, "lesPastilles":[0,3]} only %}
                  </div>
                </td>
                <td></td>
                <td class="reduction">
                  <div class="positionAbsolue" style="top:-10em;left:-20em;">
                  {% include "_clavierPiano.html.twig" with {"nbTouches":7,"avecTon":false, "lesPastilles":[0,4]} only %}
                  </div>
                </td>
                <td class="fonteInvisible">blabla</td>
                <td class="reduction">
                  <div class="positionAbsolue" style="top:-10em;left:-20em;">
                  {% include "_clavierPiano.html.twig" with {"nbTouches":7,"avecTon":false, "lesPastilles":[0,6]} only %}
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  <br><br><br><br><h3>Quarte diminuée<br></h3>
                </td>
                <td></td>
                <td>
                  <br><br><br><br><h3>Quarte juste<br></h3>
                </td>
                <td></td>
                <td>
                  <br><br><br><br><h3>Quarte augmentée<br></h3>
                </td>
              </tr>
              <tr>
                <td>
                  {% set listeNotesFaBemol =
                         [
                           {
                             image: 'noire',
                             'niveau' : 0
                           },
                           {
                             image: 'bemol',
                             'niveau' : 0
                           }
                         ]
                   %}
                  {% set portee = [listeNotesDo,listeNotesFaBemol] %}
                  {% include "_portee.html.twig" with {"elements":portee} only %}
                </td>
                <td></td>
                <td>
                  {% set portee = [listeNotesDo,listeNotesFa] %}
                  {% include "_portee.html.twig" with {"elements":portee} only %}
                </td>
                <td></td>
                <td>
                  {% set listeNotesFaDiese =
                         [
                           {
                             image: 'noire',
                             'niveau' : 0
                           },
                           {
                             image: 'diese',
                             'niveau' : 0
                           }
                         ]
                   %}
                  {% set portee = [listeNotesDo,listeNotesFaDiese] %}
                  {% include "_portee.html.twig" with {"elements":portee} only %}
                </td>
              </tr>
              <tr>
                <td>
                  <br><br><br><br>2 tons d'écart<br><br><br>
                </td>
                <td></td>
                <td>
                  <br><br><br><br>2 tons ½ d'écart<br><br><br>
                </td>
                <td></td>
                <td>
                  <br><br><br><br>3 tons d'écart<br><br><br>
                </td>
              </tr>
              <tr>
                <td class="reduction">
                  <div class="positionAbsolue" style="top:-10em;left:-20em;">
                  {% include "_clavierPiano.html.twig" with {"nbTouches":7,"avecTon":false, "lesPastilles":[0,4]} only %}
                  </div>
                </td>
                <td></td>
                <td class="reduction">
                  <div class="positionAbsolue" style="top:-10em;left:-20em;">
                  {% include "_clavierPiano.html.twig" with {"nbTouches":7,"avecTon":false, "lesPastilles":[0,6]} only %}
                  </div>
                </td>
                <td class="fonteInvisible">blabla</td>
                <td class="reduction">
                  <div class="positionAbsolue" style="top:-10em;left:-20em;">
                  {% include "_clavierPiano.html.twig" with {"nbTouches":7,"avecTon":false, "lesPastilles":[0,7]} only %}
                  </div>
                </td>
              </tr>

            </table>
            <br><br><br><br>
            On va s'arrêter là. Tu sais à qui demander si tout ça n'est pas clair pour toi.<br>
            Une dernière remarque : je ne t'ai montré que des intervalles <b>ascendants</b>, c'est à dire où la deuxième note est plus haute que la première.<br>
            
            On peut aussi avoir des intervalles <b>descendants</b>, et ça ne change pas grand chose:<br><br>
            {% set portee = [listeNotesFa,listeNotesDo] %}
            {% include "_portee.html.twig" with {"elements":portee} only %}
            <br><br><br><br><br>
            De même, les intervalles que tu viens de voir sont <b>mélodiques</b>, c'est à dire que les notes sont jouées l'une après l'autre, comme ici :<br><br><br>
            {% set cleSol =
                   [
                     {
                       image: 'cle_sol',
                       'niveau' : 0
                     }
                   ]
             %}{% set listeNotesA2 =
                   [
                     {
                       image: 'noire',
                       'niveau' : -2
                     }
                   ]
             %}
            {% set listeNotesB2 =
                   [
                     {
                       image: 'noire',
                       'niveau' : -3
                     }
                   ]
             %}
             {% set listeNotesD3 =
                   [
                     {
                       image: 'noire',
                       'niveau' : -5
                     }
                   ]
             %}
             {% set listeNotesE3 =
                   [
                     {
                       image: 'noire',
                       'niveau' : -6
                     }
                   ]
             %}
             {% set listeNotesA3 =
                   [
                     {
                       image: 'blanche',
                       'niveau' : -9
                     },
                     {
                       image: 'barre',
                       'niveau' : -9
                     }
                   ]
             %}
             {% set listeNotesG3 =
                   [
                     {
                       image: 'blanche',
                       'niveau' : -8
                     }
                   ]
             %}
             {% set listeNotesC3 =
                   [
                     {
                       image: 'ronde',
                       'niveau' : -4
                     }
                   ]
             %}
            {% set portee = [cleSol,listeNotesA2,listeNotesB2,listeNotesD3,listeNotesE3,listeNotesA3,listeNotesG3,listeNotesC3] %}
            {% include "_portee.html.twig" with {"elements":portee} only %}
            <br><br><br><br>
            <b class="fonteInvisible">blablablablablablablabla<audio controls controlsList="nodownload" src="{{dictee_path}}music1.mp3"></audio></b><br>
            Mais si les notes sont jouées en même temps (on appelle ça un accord), ça devient un intervalle <b>harmonique</b>, comme ces trois là :<br><br><br><br><br>
            {% set listeNotesC2E3 =
                   [
                     {
                       image: 'ronde',
                       'niveau' : 3
                     },
                     {
                       image: 'barre',
                       'niveau' : 3
                     },
                     {
                       image: 'ronde',
                       'niveau' : -6
                     }
                   ]
             %}
            {% set listeNotesG2G3 =
                   [
                     {
                       image: 'ronde',
                       'niveau' : -1
                     },
                     {
                       image: 'ronde',
                       'niveau' : -8
                     }
                   ]
             %}
            {% set listeNotesC2G4 =
                   [
                     {
                       image: 'ronde',
                       'niveau' : 3
                     },
                     {
                       image: 'barre',
                       'niveau' : 3
                     },
                     {
                       image: 'ronde',
                       'niveau' : -6
                     },
                     {
                       image: 'ronde',
                       'niveau' : -15
                     },
                     {
                       image: 'barre',
                       'niveau' : -15
                     },
                     {
                       image: 'barre',
                       'niveau' : -13
                     },
                     {
                       image: 'barre',
                       'niveau' : -11
                     },
                     {
                       image: 'barre',
                       'niveau' : -9
                     }
                   ]
             %}
            {% set portee = [cleSol,listeNotesC2E3,listeNotesG2G3,listeNotesC2G4] %}
            {% include "_portee.html.twig" with {"elements":portee} only %}
            <audio controls controlsList="nodownload" src="{{dictee_path}}music2.mp3"></audio>
            <br><br><br><br><br><br>
          </div>
      </div>

      <div class="cadreNoir">
        <h2 class="souligne" id="alterations">Les altérations</h2>
        Cette année, tu n'auras besoin de connaître que 3 altérations :<br>
        <table>
          <tr>
            <td>
              <b>Le&nbsp;dièse</b><h1><br><br></h1>
            </td>
            <td>
              <img src="{{img_path}}symboles/diese.gif"><h1><br><br></h1>
            </td>
            <td>
              Ce symbole se place sur la même ligne qu'une note,<br>
              - soit à côté de la clé, alors elle concerne toute la portée et toutes les notes portant ce nom, <br>
              - soit juste devant une note, elle ne s'applique alors qu'au reste de la mesure, et uniquement aux notes de cette hauteur.<br>
              Le dièse indique que cette note sera <b>plus haute d'un demi ton</b> : ça veut dire qu'au lieu de taper sur la touche de cette note, on tapera sur la suivante (celle à sa droite). Cette modification concerne cette note, mais aussi toutes les notes identiques qui la suivent, jusqu'à la prochaine barre de mesure.<br>
              <table>
                <tr>
                  <td>
                    S'il est à côté de la clé, cela signifie qu'il s'applique à <b>toutes</b> les notes de la portée.<br>
                    Dans ce cas, les dièses s'appliquent dans un ordre précis :<br>
                    Si on ne met qu'un seul dièse à côté de la clé, ce sera forcément le fa.<br>
                    Si on en met deux, ce sera fa et do.<br>
                    Si on en met 3 : fa, do et sol.<br>
                    Si on en met 4 : fa-do-sol-ré, comme tu peux le voir ici à droite.<br>
                    Ordre complet : fa-do-sol-ré-la-mi-si
                  </td>
                  <td>
                    <img src="{{img_path}}armature_mi_majeur.gif">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td><h3><br></h3></td>
          </tr>
          <tr>
            <td>
              <b>Le&nbsp;bémol</b><h1><br><br></h1>
            </td>
            <td>
              <img src="{{img_path}}symboles/bemol.gif"><h1><br><br></h1>
            </td>
            <td>
              Comme le dièse, il se place devant une note ou juste après la clé<br>
              Il indique que cette note (et celles qui suivent, de même hauteur, jusqu'à la fin de la mesure) sera <b>plus basse d'un demi ton</b> : on tapera sur la touche précédente du clavier (celle à sa gauche).<br>
              <table>
                <tr>
                  <td>
                    Lui aussi, s'il est à côté de la clé, s'applique à toutes les notes de la portée.<br>
                    Les bémols s'appliquent dans l'ordre inverse des dièses :<br>
                    Si on ne met qu'un seul bémol à côté de la clé, ce sera le si.<br>
                    Si on en met deux, ce sera si et mi.<br>
                    Ordre complet : si-mi-la-ré-sol-do-fa
                  </td>
                  <td>
                    <img src="{{img_path}}armature_mi_bemol_majeur.gif">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        Quand on met une altération à côté d'une note, c'est pour modifier celle-là. Ca n'affecte généralement qu'une seule note (sauf si on retrouve cette note plus tard <u>dans la même mesure</u>). On appelle ça une <b>altération accidentelle</b>. Une altération accidentelle ne concerne que la hauteur où elle se trouve.<br>
        <img src="{{img_path}}diese_accidentel.png" style="float: left; margin: 4px 10px 0px 0px;">
        Ici à gauche, par exemple, 1 est un fa, 2 est un fa dièse, mais pas 3, qui n'est pas à la même hauteur. 4 est un fa dièse, mais pas 5 qui a un bécarre, du coup il redevient un fa normal. 6 devrait en être un aussi, à cause du bécarre, mais on lui a mis un dièse pour le forcer à être un fa dièse. 7 est un fa normal, car la barre de mesure annule toutes les altérations accidentelles des mesures précédentes. Puis on a un fa dièse en 8, et un fa normal en 9, parce qu'il n'est pas au même niveau que 8.<br><br>
        Quand, à côté de la clé (et avant le chiffrage), on peut  trouver un groupe de 1 à 7 dièses ou bémols (mais <u>jamais des dièses et des bémols en même temps</u>), on appelle ce groupe une <b>armature</b> et ces altérations ne sont plus accidentelles mais <b>constitutives</b>.<br>
        <br> Comme on vient de le voir, quand il y a au moins une altération dans l'armature, et qu'on veut, juste pour une seule note, l'annuler, on utilise le <b>bécarre</b> :<br>
        <table>
          <tr>
            <td>
              <img src="{{img_path}}symboles/becarre.gif"><h1><br><br></h1>
            </td>
            <td>
              Evidemment, le bécarre sera toujours accidentel. Il sert à annuler une altération constitutive. Si on ne voulait pas de cette altération, on ne la mettrait pas, et on n'aurait donc pas besoin du bécarre pour l'enlever.<br>
              <br>
              Voici un exemple d'utilisation du bécarre:<br>
              <img src="{{img_path}}becarre_accidentel.png" style="float: left; margin: 4px 10px 0px 0px;">
              On a 3 bémols dans l'armature, donc si-mi-la (tu peux le vérifier sur cette image). Tous les si, les mi et les la seront en bémol, quelle que soit leur hauteur. Cette portée commence donc par trois mi bémol. Le 4 est un mi, à cause du bécarre, et le 6 aussi, parce qu'il vient après le bécarre et sur la même hauteur, mais le 5 reste un mi bémol, car il n'est pas au niveau du bécarre. On a ensuite une barre de mesure. Elle annule le bécarre. Du coup, 7 et 8 sont des mi bémols, conformément à l'armature.<br>
              <b><u>Important :</u></b><br>
              Les altérations constitutives s'appliquent à toutes les notes portant le même nom, pas juste celles à leur niveau.<br>
              Les altérations accidentelles ne s'appliquent qu'à leur niveau, et jusqu'à la prochaine barre de mesure seulement.<br>
              
            </td>
          </tr>
        </table>
        <br>J'ajoute ces trois altérations, qui sont rarement utilisées, mais qu'il faut connaître pour ta culture musicale :<br>
        <img src="{{img_path}}symboles/dbdiese.gif">Le <b>double dièse</b> hausse la note d'un ton (il agit comme deux dièses ;  un "do double dièse" est un ré, par exemple).<br>
        <img src="{{img_path}}symboles/dbbemol.gif">Le <b>double bémol</b> baisse la note d'un ton (comme deux bémols).<br>
        <img src="{{img_path}}symboles/dbbecarre.gif">Le <b>double bécarre</b> annulait ces deux altérations, autrefois. Mais maintenant, un seul bécarre suffit.<br>
      </div>

      <div class="cadreNoir">
        <h2 class="souligne" id="alterations">Les gammes majeures et mineures</h2>
        Là, il va vraiment devenir indispensable que tu aies sur ton brouillon un clavier de piano de dessiné, éventuellement sur deux octaves, même, ça peut aider.<br>
        <table>
          <tr>
            <td style="width : 48em;">
              Une <b>gamme majeure</b>, c'est quoi ?<br>
              C'est une gamme (8 notes consécutives) où les tons se suivent comme sur un clavier de piano :<br>
              1 ton (do-ré), 1 (ré-mi), ½ (mi-fa), 1 (fa-sol), 1 (sol-la), 1 (la-si) et ½ (si-do).<br>
              La gamme que je viens de citer est la gamme en do majeur : elle commence par do, et ses intervalles sont : 1,1,½,1,1,1,½<br>
            <td class="reduction">
              <div class="positionAbsolue" style="top : -3em;">
            {% include "_clavierPiano.html.twig" with {"nbTouches":7,"avecTon":false,"lesFleches":[0,1,2,3,4,5,6]} only %}
              </div>
            </td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <td style="width : 35em;">
          <tr>
            <td>
              Mettons qu'on mette un dièse dans l'armature. Le fa, donc, forcément. Maintenant, mi-fa fait un ton, mais fa-sol plus qu'un demi. Si on persiste à compter à partir du do, on n'a plus les bons intervalles :
              1,1,1,½,1,1,½<br>
            <td class="reduction">
              <div class="positionAbsolue" style="top : -3em;">
            {% include "_clavierPiano.html.twig" with {"nbTouches":10,"avecTon":false,"lesPastilles":[0,2,4,7,8,10,12,14]} only %}
              </div>
            </td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <td style="width : 35em;">
          <tr>
            <td>
              Pourtant, on a bien trois 1 qui se suivent, et deux 1. Il y a moyen de faire une gamme majeure avec ça. Il suffit de décaler.<br>
              On doit commencer par deux 1 consécutifs. Où sont-ils ? Au niveau de sol-la. Alors réécrivons ça en partant du sol :
              1,1,½,1,1,1,½<br>
              Ca marche ! On a les bons intervalles, on commence par sol, on est donc en sol majeur.
            <td class="reduction">
              <div class="positionAbsolue" style="top : -3em;">
            {% include "_clavierPiano.html.twig" with {"nbTouches":11,"avecTon":false,"lesPastilles":[7,21],"lesFleches":[4,5,6,7,8],"lesFlechesInversees":[9,10]} only %}
              </div>
            </td>
          </tr>
        </table>
        <br>
        Et du coup, une gamme <b>mineure</b>, qu'est_ce que c'est ? Eh bien, c'est tout le reste. Il existe des classifications, évidemment. Mais tu ne devrais par en entendre parler en cours de solfège avant plusieurs années, je pense.<br>
        <br>Bon, du coup, voilà ce qu'il faut faire :<br>
        <li>Si l'armature est <b>vide</b> (ni dièse, ni bémol à côté de la clé, et peu importe s'il y a des altérations accidentelles dans le morceau), c'est du <b>do majeur</b>. On n'utilise que les touches blanches du clavier du piano, donc, tout simplement.</li>
        <li>Sinon, tu pars d'une note (do ou autre chose), tu regardes ton clavier et tu notes les tons entre chaque note, jusqu'à ce que tu aies écrit sept nombres (des 1 ou des ½), <b>en tenant compte de toutes les altérations dans l'armature</b>, car tu vas, par moment, devoir passer par des touches noires. Ensuite, tu regardes ce que tu as écrit. Il y a un groupe de trois 1 et un groupe de deux 1 ? C'est du majeur. Trouve où il faut décaler et tu as ta note de gamme. Le nom de la gamme est "<i>cette note</i>" suivi de "majeur".<br>
        Mais si tu n'as pas ces deux groupes de 1, c'est une gamme mineure.
        <br><br>
        Dans une gamme, on définit des <b>degrés</b>, qui ont un nom et un numéro (en chiffres romains).<br>
        <b>
        <table>
          <tr>
            <td><li>I</li></td>
            <td>:&nbsp;&nbsp;</td>
            <td>tonique</td>
          </tr>
          <tr>
            <td><li>II</li></td>
            <td>:</td>
            <td>sus-tonique</td>
          </tr>
          <tr>
            <td><li>III</li></td>
            <td>:</td>
            <td>médiante</td>
          </tr>
          <tr>
            <td><li>IV</li></td>
            <td>:</td>
            <td>sous-dominante</td>
          </tr>
          <tr>
            <td><li>V</li></td>
            <td>:</td>
            <td>dominante</td>
          </tr>
          <tr>
            <td><li>VI</li></td>
            <td>:</td>
            <td>sus-dominante</td>
          </tr>
          <tr>
            <td><li>VII</li></td>
            <td>:</td>
            <td>sensible</td>
          </tr>
        </table>
        </b>
        Une façon plus juste de définir une gamme majeure est de dire que les notes médiante et sous-dominante (degrés III et IV) sont séparées d'un demi ton, ainsi que les notes sensible et tonique (degrés VII et I), et les autres par un ton.
      </div>

    </div>
    </div>
  </div>
</div>

{% endblock %}


{% block pied %}
  {{ parent() }}
{% endblock %}