{% extends "page.html.twig" %}

{% block entete %}
  {{ parent() }}
{% endblock %}

{% block corps %}
  {{ parent() }}
{% endblock %}

{% block titre %}
  Termes italiens
{% endblock %}

{% block page %}
  {{ parent() }}
<div class="container">
  <div class="row">
  <div class="col-12"><b class="souligne">Question {{app.session.get('question')}}</b><br><br><br></div>
  <div class="col-2"><img class="imgSymbole" src="{{symb_path}}{{question.symbole}}.gif"></div>
  <div class="col-10">{{question.description}}</div>
  </div>
</div>
{% endblock %}