{% extends "base.html.twig" %}

{% block entete %}
  
  {{ parent() }}
  <link rel="stylesheet" href="{{css_path}}main.css">
  
{% endblock %}

{% block corps %}
  <body class="fondCouvrant" style="background-image : url('{{img_path}}fondMain.jpg')">

    <br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-3 offset-1 fondEntier boutonDrapeau" style="background-image : url('{{img_path}}italien.gif')">
          <a href="choixitalien_les_termes_italiens">
          <br>
          <h1><span class="enRouge">Ter</span><span class="enVert">mes</span></h1>
          <h1><span class="enRouge">ita</span><span class="enVert">liens</span></h1>
          </a>
        </div>
        <div class="col-2 offset-1" >
          <a class="positionRelative" href="choixinstrument_les_instruments">
            <div class="positionAbsolue">
              <img class="cadreRouge boutonInstruments" src="{{img_path}}instruments.gif">
              <h1 class="incline">Instruments</h1>
            </div>
          </a>
        </div>
        <div class="col-2 offset-2" >
          <a class="positionRelative" href="choixtonalite_les_tonalités">
            <div class="positionAbsolue plusBas">
              <img class="cadreRouge boutonTonalites" src="{{img_path}}tonalites.gif">
            </div>
          </a>
        </div>
        <div class="col-3 offset-1" >
            <a class="positionAbsolue boutonRythme" href="choixrythme_le_rythme">
              <img class="cadreRouge boutonTonalites" src="{{img_path}}rythme.gif">
            </a>
        </div>
        <div class="col-3 offset-5" >
            <a class="positionAbsolue boutonRythme" href="score">
              <img class="cadreRouge boutonTonalites boutonScores" src="{{img_path}}scores.gif">
              <h1 class="boutonScores">Mes scores</h1>
            </a>
        </div>
      </div>
    </div>

  </body>

{% endblock %}