{% extends "base.html.twig" %}

{% block entete %}
  {{ parent() }}
  <link rel="stylesheet" href="{{css_path}}toolTip.css">
  <link rel="stylesheet" href="{{css_path}}page.css">
{% endblock %}

{% block trophee %}
  {{ parent() }}
{% endblock %}

{% block corps %}

  {% block navigation %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-1">
          <a href='main'>
          <img class="miniBtn cadreRouge" src="{{img_path}}conservatoire.jpg">
          </a>
          <div class='tool-tip right'>Accueil</div>
        </div>
        <div class="col-10">
          <h1>{% block titre %}{% endblock %}</h1>
          {% if app.session.get('niveau') > 0 %}<h2>Niveau {{app.session.get('niveau')}}</h2>{% endif %}
        </div>
        <div class="col-1">
          <a href="apprendre_{{app.session.get('exercice')}}">
            <div class='tool-tip left'>Leçon</div>
            <div class="positionFixe miniBtn cadreRouge">
              <img class="positionRelative" src="{{img_path}}apprendre.gif">
            </div>
          </a>
        </div>
      </div>
    </div>
  {% endblock %}

  <div class="centrerExercice">
  {% block page %}
  {% endblock %}
  </div>

{% endblock %}