{% extends "page.html.twig" %}

{% block entete %}
  {{ parent() }}
{% endblock %}

{% block corps %}
  {{ parent() }}
{% endblock %}

{% block titre %}
  {{ app.session.get('titreExo') | capitalize }}
{% endblock %}

{% block page %}
  {{ parent() }}
<div class="container">
  <div class="row">
    <div class="col-12">
      <b class="souligne">Question {{app.session.get('numQuestion')}} :</b>&nbsp;
      <b>{{app.session.get('question').reponse.texteQuestion}}</b>
    </div>
    <div class="col-12"><img class="imgSymbole" src="{{symb_path}}{{app.session.get('question').reponse.symbole}}.gif"></div>
    {% if app.session.get('correction')|length > 0 %}
      {% include '_correction.html.twig' %}
    {% else %}
      {% for p in app.session.get('question').propositions %}
    <div class="col-3 contenantCadreReponse">
      <div class="cadreReponse">
        <a href="{{app.session.get('exercice')}}Correction{{loop.index0}}">{{p.nom}}</a>
      </div>
    </div>
    <div class="col-1 contenantCadreReponse">
    </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}