{% extends "page.html.twig" %}

{% block entete %}
  {{ parent() }}
{% endblock %}

{% block corps %}
  {{ parent() }}
{% endblock %}

{% block titre %}
  {{ app.session.get('titreExo') | capitalize }}
{% endblock %}

{% block page %}
  {{ parent() }}
<div class="container">
  <div class="row">
    <div class="col-3">
      <b class="souligne">Question {{app.session.get('numQuestion')}} :</b>
      <br><br><br>
      <div class="positionRelative">
        {% include "_portee.html.twig" with {"echelle":0.7, "y":-2, "elements":app.session.get('question').reponse.porteeNote.elements} only %}
      </div>
      <br><br><br><br><br><br>
    </div>
    {% if app.session.get('correction')|length > 0 %}
      {% include '_correction.html.twig' %}
    {% else %}

    <div class="col-9">
      <div class="container-fluid">
        <div class="row">
          {% set listeNotes = ['do','ré','mi','fa','sol','la','si'] %}
          {% for n in listeNotes %}
          <div class="cadreReponse">
            <button onclick="completerTexte('{{n}}')" type="button">{{n}}</button>
          </div>
          {% endfor %}
        </div>

        <div class="row">
          {% set listeNoms = ['prime','seconde','tierce','quarte','quinte', 'sixte'] %}
          {% for nom in listeNoms %}
          <div class="cadreReponse">
            <button onclick="completerTexte('{{nom}}')" type="button">{{nom}}</button>
          </div>
          {% endfor %}
        </div>

        <div class="row">
          {% set listeNoms = ['septième','octave'] %}
          {% for nom in listeNoms %}
          <div class="cadreReponse">
            <button onclick="completerTexte('{{nom}}')" type="button">{{nom}}</button>
          </div>
          {% endfor %}
        </div>

        {% if app.session.get('avecQualificatif') %}
        <div class="row">
          {% set listeQual = ['majeure','mineure','juste','diminuée','augmentée'] %}
          {% for q in listeQual %}
          <div class="cadreReponse">
            <button onclick="completerTexte('{{q}}')" type="button">{{q}}</button>
          </div>
          {% endfor %}
        </div>
        {% endif %}

      </div>
    </div>



<script>
function effacerTexte()
{
  document.getElementById('texteFormulaire').value = "";
}
function completerTexte(texte)
{
  element = document.getElementById('texteFormulaire');
  element.value = element.value + texte + ' ';
}
</script>

    <form action="{{app.session.get('exercice')}}CorrectionForm" method="POST">
    <div class="col-12">
      <div class="container-fluid">
        <div class="row">
            <div  class="col-12">
              <br>{{ app.session.get('texteQuestion') }}<br>
              <b><label>Réponse:&nbsp;</label></b><input type='text' id='texteFormulaire' name='texteFormulaire' class="largeur30">
              <button onclick="effacerTexte()" type="button">Effacer</bouton>
            </div>
            <br><br><br><br>
            <div  class="col-12">
              <h1>&nbsp;</h1>
            </div>
            <div  class="col-5">
              <div class="cadreReponse">
                <button type="submit">Je confirme ma réponse</bouton>
              </div>
            </div>
            <div class="col-7">
              <div class="reduction">
                <div class="positionAbsolue" style="top:-10em; left:-20em;">
                  {% include "_clavierPiano.html.twig" with {"nbTouches":16,"avecTon":false} only %}
                </div>
              </div>
              <br><br><br>Utilise le clavier et ce brouillon pour faire tes calculs :<br>
              <textarea class="largeur30"></textarea>
              </div>
            </div>
        </div>
      </div>
    </div>
    </form>

    {% endif %}
  </div>
</div>
{% endblock %}