{% extends "page.html.twig" %}

{% block entete %}
  {{ parent() }}
{% endblock %}

{% block corps %}
  {{ parent() }}
{% endblock %}

{% block titre %}
  {{ app.session.get('titreExo') | capitalize }}
{% endblock %}

{% block page %}
  {{ parent() }}
<div class="container">
  <div class="row">
    <div class="col-12">
      <b class="souligne">Question {{app.session.get('numQuestion')}} :</b>
      <b>Trouve la note qui a la même durée que ce silence: </b><br><br><br>
      <div class="positionRelative">
        {% include "_portee.html.twig" with {"elements":app.session.get('question').reponse.porteeSilence.elements} only %}
      </div>
      <br><br><br><br><br><br>
    </div>
    {% if app.session.get('correction')|length > 0 %}
      {% include '_correction.html.twig' %}
    {% else %}
  </div>
</div>
<div class="container-fluid">
  <div class="row">
      {% for p in app.session.get('question').propositions %}
    <div class="offset-1 col-1 contenantCadreReponse">
      <div class="cadreReponse">
        <a href="{{app.session.get('exercice')}}Correction{{loop.index0}}">
          <div class="positionRelative">
            {% include "_portee.html.twig" with {"y":5,"elements":p.porteeNote.elements} only %}
          </div>
        </a>
        <img src="{{img_path}}portee/vide.gif"><br>
        <img src="{{img_path}}portee/vide.gif">
      </div>
    </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}