{% extends "page.html.twig" %}

{% block entete %}
  {{ parent() }}
{% endblock %}

{% block corps %}
  {{ parent() }}
{% endblock %}

{% block titre %}
  {{ app.session.get('titreExo') | capitalize }}
{% endblock %}

{% block page %}
  {{ parent() }}
<div class="container">
  <div class="row">
    <div class="col-12">
      <b class="souligne">Question {{app.session.get('numQuestion')}} :</b>
      <b>{{ app.session.get('texteQuestion') }}</b><br><br><br>
      <div class="positionRelative">
        {% include "_portee.html.twig" with {"echelle":0.7,"indice":'Q', "y":-2, "elements":app.session.get('question').reponse.portee1.elements} only %}
      </div>
      <br><br><br><br><br><br>
    </div>
    {% if app.session.get('correction')|length > 0 %}
      {% include '_correction.html.twig' %}
    {% else %}

      {% for p in app.session.get('question').propositions %}


        {% if app.session.get('afficherNom') is defined and app.session.get('afficherNom') == '1' %}
    <div class="col-4 contenantCadreReponse">
      <div class="cadreReponse">
        <a href="{{app.session.get('exercice')}}Correction{{loop.index0}}">{{p.nom}}</a>
      </div>

        {% else %}
    <div class="col-1 contenantCadreReponse">
        <a href="{{app.session.get('exercice')}}Correction{{loop.index0}}">
          <div class="positionRelative">
            {% include "_portee.html.twig" with {"y":5,"indice":'R',"elements":p.portee2.elements} only %}
          </div>
        </a>
        <img src="{{img_path}}portee/vide.gif">
        {% endif %}

    </div>
    <div class="col-1">
    </div>
      {% endfor %}

    {% endif %}
  </div>
</div>
{% endblock %}