{% extends "page.html.twig" %}

{% block entete %}
  {{ parent() }}
{% endblock %}

{% block navigation %} 
    <div class="container-fluid">
      <div class="row">
        <div class="col-1">
          <a href='main'>
          <img class="miniBtn cadreRouge" src="{{img_path}}conservatoire.jpg">
          </a>
          <div class='tool-tip right'>Accueil</div>
        </div>

        <div class="col-10">
          <h1>Scores de {{getUserName(app.session)}}</h1>
          {% if app.session.get('niveau') > 0 %}<h2>Niveau {{app.session.get('niveau')}}</h2>{% endif %}
        </div>
        <div class="col-1">
          <a href="apprendre_{{app.session.get('exercice')}}">
            <div class='tool-tip left'>Tous les trophées</div>
            <div class="positionRelative miniBtn cadreRouge">
              <img class="positionRelative" src="{{img_path}}trophees/logo.gif">
            </div>
          </a>
        </div>
      </div>
    </div>
{% endblock %}

{% block corps %}
  {{ parent() }}
{% endblock %}


{% block page %}
  {{ parent() }}

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="listeDeroulante">

        <div class="container-fluid">
          <div class="row">
        
            <div class="offset-1 col-5">
              {% include '_discipline.html.twig' with {'lignes' : scores.italien, 'image' : 'italien.gif', 'titre' : 'Termes italiens'} %}
              {% include '_discipline.html.twig' with {'lignes' : scores.instrument, 'image' : 'tambour.gif', 'titre' : 'Instruments'} %}
              {% include '_discipline.html.twig' with {'lignes' : scores.tonalite, 'image' : 'notes.gif', 'titre' : 'Tonalités'} %}
              {% include '_discipline.html.twig' with {'lignes' : scores.rythme, 'image' : 'rythme2.gif', 'titre' : 'Rythme'} %}
            </div>
        
            <div class="offset-1 col-4 cadreNoir">
              <div>
                <table class="sousTitre">
                  <tr>
                    <td><img class="micro" src="{{img_path}}trophees/logo.gif"></td>
                    <td><h2>Trophées</h2></td>
                  </tr>
                </table>
              </div>
              <table>
              {% for trophee in trophees %}
                {% if trophee.dejaObtenu %}
                <tr>
                  <td class="doubleImage">
                    <img class="micro"  src="{{img_path}}trophees/{{trophee.image}}.gif">
                    <img class="micro2" src="{{img_path}}trophees/{{trophee.image}}.gif">
                  </td>
                  <td><h3>{{trophee.nom}}</h3></td>
                </tr>
                {% endif %}
              {% else %}
              <tr><td><br><h3>Tu n'as aucun trophee, pour l'instant.</h3></td></tr>
              {% endfor %}
              </table>
            </div>
        
          </div>
        </div>
        
      </div>
    </div>


    <div class="col-11" >
    </div>
    <div class="col-1" >
      <form action='logout' methot='POST'>
      <button class="btn btn-lg btn-primary" type='submit'>
        Déconnexion
      </button>
      </form>
    </div>

  </div>
</div>

{% endblock %}